* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  height: 100vh;
  width: 100vw;
  background: #f8f9fa;
  overflow-x: hidden;
}


.how-it-works {
  padding: 60px 5%;
  text-align: center;
}

.how-it-works h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.step {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 250px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.skills {
  padding: 60px 5%;
  text-align: center;
}

.skills-list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.skills .skill-badge {
  background: #FF7A59;
  color: #fff;
  padding: 10px 24px;
  border-radius: 50px;
  font-size: 16px;
  cursor: default;
  transition: all 0.3s ease;
}

footer {
  width: 100%;
  text-align: center;
  background: linear-gradient(135deg, #4C8BF5 20%, #74b9ff 100%);
  padding: 20px 0;
}

footer p {
  color: #fff;
}

@media screen and (max-width:768px) {
  .logo {
    font-size: 20px;
  }

  .cta-btn {
    padding: 8px 18px;
    border-radius: 25px;
  }

  .cta-btn.large {
    padding: 12px 26px;
    font-size: 18px;
  }

  .hero {
    min-height: 80vh;
  }

  .how-it-works {
    padding: 60px 5%;
    text-align: center;
  }

  .how-it-works h2 {
    margin-bottom: 30px;
  }

  .steps {
    gap: 20px;
  }

  .step {
    padding: 26px;
    border-radius: 10px;
  }

  .skills {
    padding: 30px 3%;
  }

  .skills-list {
    margin-top: 25px;
    gap: 5px;
  }

  .skill-badge {
    padding: 12px 26px;
    font-size: 20px;
  }

}


 /* === Dashboard === */
#dashboard {
  display: grid;
  grid-template-columns: 260px 1fr 300px;
  grid-template-rows: 70px 1fr 50px;
  grid-template-areas:
    "skill nav nav"
    "skill suggested profile"
    "footer footer footer";
  height: 100vh;
  gap: 15px;
  padding: 15px;
  background: #f5f5f5;
}

/* === Navbar === */
#dashboard nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: linear-gradient(135deg, #4C8BF5 20%, #74b9ff 100%);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #fff;
  height: 75px;
}

#dashboard nav img {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  border: 2px solid #fff;
}

#dashboard #nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

#dashboard #nav-left h4{
  font-weight: 200;
}

#dashboard nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

/* === Content Boxes === */
#sidebar,
#suggested-user,
#user-profile {
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#sidebar {
  grid-area: skill;
  padding: 30px 0px;
  padding-left: 30px;
}

 #sidebar h4{
  font-weight: 500;
}

/* code for suggested user container  */
#suggested-user {
  grid-area: suggested;
}

/* code for user-profile  */
#user-profile {
  grid-area: profile;
}

#user-profile #img-container{
  width: 100%;
  height: 150px;
  position: relative;
}

#img-container #back-img{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  background-size: cover;
}

#img-container #profile-img{
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translate(-50%, 10%);
  border-radius: 50px;
  height: 90px;
  width: 90px;
  background-size: cover;
  border: 2px solid #fff;
}

#profile-content{
  height: calc(100% - 150px);
  width: 100%;
  padding: 0 20px;
  padding-top: 52px;
}

#profile-content #buttons{
  display: flex;
  justify-content: space-between;
}

#profile-content button{
  padding: 8px 16px;
  border-radius: 5px;
  background: none;
  border: none;
  background-color: #4C8BF5;
  color: #f8f9fa;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#profile-content button:hover{
  background-color: #3467d6;
}

#profile-content h3{
  font-size: 22px;
  text-align: center;
  margin-top: 14px;
  font-weight: 300;
}

#profile-content h4{
  font-weight: 300;
  text-align: center;
}

#profile-content #skill-badges{
  margin-top: 15px;
}







/* === Footer === */
#footer {
  grid-area: footer;
  color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #4C8BF5 20%, #74b9ff 100%);

}


